Repository katyukha/Odood: changes, and which Codecov flags are due for each by the changed paths.
All: Odood, Odood CLI, Odood Exception, Odood Git, Odood Lib, Odood Tiny Python wrapper, Odood Utils

codecov.yml:

codecov:
  branch: main

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: odood-root
      name: Odood
      paths:
        - source/odood/**
    - component_id: odood-cli
      name: Odood CLI
      paths:
        - subpackages/cli/**
    - component_id: odood-exception
      name: Odood Exception
      paths:
        - subpakcages/exception/**
    - component_id: odood-git
      name: Odood Git
      paths:
        - subpakcages/git/**
    - component_id: odood-lib
      name: Odood Lib
      paths:
        - subpakcages/lib/**
    - component_id: odood-tipy
      name: Odood Tiny Python wrapper
      paths:
        - subpakcages/tipy/**
    - component_id: odood-utils
      name: Odood Utils
      paths:
        - subpakcages/utils/**

[FIX] Fix segfault for no-search addons
  subpackages/lib/source/odood/lib/assembly/assembly.d
Due: none

Addd minimal test for addon repository
  subpackages/lib/source/odood/lib/addons/repository.d
Due: none

Migrate assembly to class
  subpackages/cli/source/odood/cli/commands/addons.d
  subpackages/cli/source/odood/cli/commands/assembly.d
  subpackages/lib/source/odood/lib/assembly/assembly.d
  subpackages/lib/source/odood/lib/deploy/odoo.d
  subpackages/lib/source/odood/lib/project/info.d
  subpackages/lib/source/odood/lib/project/project.d
  tests/basic.d
Due: Odood CLI

Update readme with correct link for dependencies
  .ci/run_tests.bash
  README.md
Due: none

Updated dlang-requests version
  dub.selections.json
  subpackages/cli/dub.selections.json
  subpackages/lib/dub.selections.json
  subpackages/utils/dub.selections.json
Due: Odood CLI

Migrate to `darkcommand` instead of `commandr`
  CHANGELOG.md
  dub.selections.json
  source/odood/app.d
  subpackages/cli/dub.sdl
  subpackages/cli/dub.selections.json
  subpackages/cli/source/odood/cli/app.d
  subpackages/cli/source/odood/cli/commands/addons.d
  subpackages/cli/source/odood/cli/commands/assembly.d
  subpackages/cli/source/odood/cli/commands/config.d
  subpackages/cli/source/odood/cli/commands/database.d
  subpackages/cli/source/odood/cli/commands/deploy.d
  subpackages/cli/source/odood/cli/commands/discover.d
  subpackages/cli/source/odood/cli/commands/info.d
  subpackages/cli/source/odood/cli/commands/init.d
  subpackages/cli/source/odood/cli/commands/odoo.d
  subpackages/cli/source/odood/cli/commands/precommit.d
  subpackages/cli/source/odood/cli/commands/psql.d
  subpackages/cli/source/odood/cli/commands/repository.d
  subpackages/cli/source/odood/cli/commands/script.d
  subpackages/cli/source/odood/cli/commands/server.d
  subpackages/cli/source/odood/cli/commands/status.d
  subpackages/cli/source/odood/cli/commands/test.d
  subpackages/cli/source/odood/cli/commands/translations.d
  subpackages/cli/source/odood/cli/commands/venv.d
  subpackages/cli/source/odood/cli/core/command.d
  subpackages/cli/source/odood/cli/core/exception.d
  subpackages/cli/source/odood/cli/core/package.d
  subpackages/cli/source/odood/cli/core/program.d
Due: Odood, Odood CLI

Bump dark-command to 0.0.4
  dub.selections.json
  subpackages/cli/dub.selections.json
Due: Odood CLI

[CLI] Use Path and Nullable!Path arguments
  .ci/print_deps.d
  dub.selections.json
  subpackages/cli/dub.sdl
  subpackages/cli/dub.selections.json
  subpackages/cli/source/odood/cli/commands/addons.d
  subpackages/cli/source/odood/cli/commands/assembly.d
  subpackages/cli/source/odood/cli/commands/database.d
  subpackages/cli/source/odood/cli/commands/discover.d
  subpackages/cli/source/odood/cli/commands/precommit.d
  subpackages/cli/source/odood/cli/commands/repository.d
  subpackages/cli/source/odood/cli/commands/script.d
  subpackages/cli/source/odood/cli/commands/test.d
  subpackages/cli/source/odood/cli/commands/translations.d
  subpackages/cli/source/odood/cli/commands/venv.d
Due: Odood CLI

Added func to list remote tags
  subpackages/git/source/odood/git/package.d
Due: none

[REF] CheckVersions refactored, AssemblyChanges -> AddonRepositoryChanges
  subpackages/cli/source/odood/cli/commands/repository.d
  subpackages/lib/data/templates/assembly/changelog.md.tmpl
  subpackages/lib/source/odood/lib/addons/changes.d
  subpackages/lib/source/odood/lib/addons/package.d
  subpackages/lib/source/odood/lib/addons/repository.d
  subpackages/lib/source/odood/lib/assembly/assembly.d
Due: Odood CLI

[ADD] git repo: list local/remote tags, push tag
  subpackages/git/source/odood/git/repository.d
Due: none

Added `searchFileUp` method to repository
  subpackages/git/source/odood/git/repository.d
Due: none

Added minimal implementation of repository releases
  subpackages/cli/source/odood/cli/commands/repository.d
  subpackages/lib/source/odood/lib/addons/changes.d
  subpackages/lib/source/odood/lib/addons/repository.d
  subpackages/lib/source/odood/lib/assembly/assembly.d
Due: Odood CLI

[FIX] use directory name for addon maes on collect changes
  subpackages/lib/source/odood/lib/addons/repository.d
Due: none

[REF] Assembly use `repo.collectChanges` instead of own implementation
  subpackages/lib/source/odood/lib/assembly/assembly.d
Due: none

Added ability to generate release notes/changelog on repositories
  subpackages/cli/source/odood/cli/commands/repository.d
  subpackages/lib/data/templates/repository/changelog.md.tmpl
  subpackages/lib/source/odood/lib/addons/repository.d
  subpackages/lib/source/odood/lib/assembly/assembly.d
Due: Odood CLI

Run `msguniq` before `msgmerge` to handle dups produced by AI in translations
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/translations.d
  subpackages/lib/source/odood/lib/addons/repository.d
Due: Odood CLI

Added separate section in docs related to translations management
  docs/odood/src/SUMMARY.md
  docs/odood/src/development-workflow.md
  docs/odood/src/translations.md
Due: none

Added fetchTag to git repository
  subpackages/git/source/odood/git/repository.d
Due: none

`gitListRemoteTags` noe receives optional env param
  subpackages/git/source/odood/git/package.d
Due: none

Bump darkcommand version
  dub.selections.json
  subpackages/cli/dub.selections.json
Due: Odood CLI

[FIX] make --commit-message optional in `repo release` command
  subpackages/cli/source/odood/cli/commands/repository.d
Due: Odood CLI

Added experimental support for assembly upgrade sources
  subpackages/cli/source/odood/cli/commands/assembly.d
  subpackages/lib/source/odood/lib/assembly/assembly.d
  subpackages/lib/source/odood/lib/assembly/spec.d
Due: Odood CLI

Better handle unknown arguments in CLI commands
  dub.selections.json
  subpackages/cli/dub.sdl
  subpackages/cli/dub.selections.json
  subpackages/cli/source/odood/cli/app.d
Due: Odood CLI

Added support for `odood test --test-tag` option
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/test.d
  subpackages/lib/source/odood/lib/odoo/test.d
Due: Odood CLI

Use `acceptsPath` for `odood addons add --odoo-requirements` cmd
  dub.selections.json
  subpackages/cli/dub.sdl
  subpackages/cli/dub.selections.json
  subpackages/cli/source/odood/cli/commands/addons.d
  subpackages/lib/source/odood/lib/addons/manager.d
Due: Odood CLI

Update docs on repo releases and assembiles that use releases
  CHANGELOG.md
  docs/odood/src/assembly.md
  docs/odood/src/development-workflow.md
  docs/odood/src/frequently-used-commands.md
Due: none

[DOCS] Add note on build from source (-b release) and dmd regression related to `regex`
  README.md
  docs/odood/src/installation.md
Due: none

Use datadir from `odoo.conf` always.
  subpackages/lib/source/odood/lib/deploy/odoo.d
  subpackages/lib/source/odood/lib/odoo/config.d
  subpackages/lib/source/odood/lib/odoo/db_manager.d
  subpackages/lib/source/odood/lib/project/config.d
  subpackages/lib/source/odood/lib/project/discover.d
  subpackages/lib/source/odood/lib/project/project.d
  subpackages/lib/source/odood/lib/server/server.d
Due: none

Added checks for non-empty backups after backup finished
  subpackages/lib/source/odood/lib/odoo/db_manager.d
Due: none

Improve tests for backup / restore
  tests/basic.d
Due: none

Update docs
  README.md
  docs/odood/src/deployment-docker-compose.md
  docs/odood/src/frequently-used-commands.md
  docs/odood/src/odoo-requirements-txt.md
Due: none

Updated changelog
  CHANGELOG.md
Due: none

Add few unittests, + improve backup validation on restore
  subpackages/lib/source/odood/lib/odoo/db_manager.d
  subpackages/utils/source/odood/utils/addons/addon_changelog.d
  subpackages/utils/source/odood/utils/addons/odoo_requirements.d
  subpackages/utils/source/odood/utils/odoo/db.d
Due: none

[FIX] Simplify python version check, avoid regex when not needed
  subpackages/utils/source/odood/utils/package.d
Due: none

Replace ctRegex for git urls with runtime regexes
  subpackages/git/source/odood/git/repository.d
  subpackages/git/source/odood/git/url.d
Due: none

[REF] Move python-related logic to `odood.lib.python`
  subpackages/cli/source/odood/cli/commands/deploy.d
  subpackages/cli/source/odood/cli/commands/init.d
  subpackages/cli/source/odood/cli/commands/venv.d
  subpackages/lib/source/odood/lib/addons/manager.d
  subpackages/lib/source/odood/lib/assembly/assembly.d
  subpackages/lib/source/odood/lib/deploy/config.d
  subpackages/lib/source/odood/lib/install/python.d
  subpackages/lib/source/odood/lib/project/discover.d
  subpackages/lib/source/odood/lib/project/project.d
  subpackages/lib/source/odood/lib/python/odoo.d
  subpackages/lib/source/odood/lib/python/package.d
  subpackages/lib/source/odood/lib/python/venv.d
Due: Odood CLI

Fix imports (import versioned directly in lib)
  subpackages/lib/dub.sdl
  subpackages/lib/source/odood/lib/python/venv.d
Due: none

[REF] make getSystemAddonsPaths callable without project
  subpackages/lib/source/odood/lib/odoo/config.d
Due: none

Added ability to run migration tests against latest release
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/test.d
  subpackages/lib/source/odood/lib/addons/repository.d
  subpackages/lib/source/odood/lib/odoo/test.d
Due: Odood CLI
