Repository katyukha/Odood: changes, and which Codecov flags are due for each by the changed paths.
All: Odood, Odood CLI, Odood Exception, Odood Git, Odood Lib, Odood Tiny Python wrapper, Odood Utils

codecov.yml:

codecov:
  branch: main

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: odood-root
      name: Odood
      paths:
        - source/odood/**
    - component_id: odood-cli
      name: Odood CLI
      paths:
        - subpackages/cli/**
    - component_id: odood-exception
      name: Odood Exception
      paths:
        - subpakcages/exception/**
    - component_id: odood-git
      name: Odood Git
      paths:
        - subpakcages/git/**
    - component_id: odood-lib
      name: Odood Lib
      paths:
        - subpakcages/lib/**
    - component_id: odood-tipy
      name: Odood Tiny Python wrapper
      paths:
        - subpakcages/tipy/**
    - component_id: odood-utils
      name: Odood Utils
      paths:
        - subpakcages/utils/**

Bump darkcommand version
  dub.selections.json
  subpackages/cli/dub.selections.json
Due: Odood CLI

Use correct title for command-reference generation
  source/odood/app.d
  subpackages/cli/dub.sdl
Due: Odood, Odood CLI

Update default pre-commit configs
  CHANGELOG.md
  subpackages/lib/data/pre-commit-odoo-helper/pre-commit-config.yaml
  subpackages/lib/data/pre-commit/flake8
  subpackages/lib/data/pre-commit/pre-commit-config.yaml
  subpackages/lib/data/pre-commit/pylintrc
Due: none

[DOCS] Mention git's `insteadOf` configuration for SSH access to repos
  docs/odood/src/assembly-spec.md
  docs/odood/src/assembly.md
Due: none

[REF][GIT] Split create branch and switch branch
  subpackages/git/source/odood/git/repository.d
  subpackages/lib/source/odood/lib/assembly/assembly.d
Due: none

Added `getLatestPatch` method to addon repo
  subpackages/lib/source/odood/lib/addons/repository.d
Due: none

Added release management docs, support hotfixes management
  CHANGELOG.md
  docs/odood/src/SUMMARY.md
  docs/odood/src/development-workflow.md
  docs/odood/src/release-management.md
  subpackages/cli/source/odood/cli/commands/repository.d
  subpackages/git/source/odood/git/repository.d
  subpackages/lib/source/odood/lib/addons/changes.d
  subpackages/lib/source/odood/lib/addons/repository.d
  subpackages/lib/source/odood/lib/odoo/test.d
Due: Odood CLI

Do backup in file with temporary name, then after completition atomically rename to correct name
  subpackages/lib/source/odood/lib/odoo/db_manager.d
Due: none

Added `odood db backup --nice`
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/database.d
Due: Odood CLI

Bump dependencies versions
  subpackages/exception/dub.selections.json
  subpackages/git/dub.selections.json
  subpackages/lib/dub.selections.json
  subpackages/utils/dub.selections.json
Due: none

Updated tests basic
  tests/basic.d
Due: none

[FIX] Handle diff in release versioning and assembly versioning
  subpackages/lib/source/odood/lib/addons/changes.d
  subpackages/lib/source/odood/lib/assembly/assembly.d
  tests/basic.d
Due: none

Added one more unittest for changes tracking
  subpackages/lib/source/odood/lib/addons/changes.d
Due: none

Handle series changes in addon versions in changes analysis
  subpackages/lib/source/odood/lib/addons/changes.d
Due: none

Minor fix with ls-remote --tags on repo
  subpackages/git/source/odood/git/package.d
  subpackages/git/source/odood/git/repository.d
Due: none

Fix handling of odoo_requirements txt in directory
  subpackages/lib/source/odood/lib/addons/manager.d
Due: none

Bump dark-archive version
  dub.selections.json
  subpackages/cli/dub.selections.json
  subpackages/lib/dub.selections.json
  subpackages/utils/dub.selections.json
Due: Odood CLI

[FIX] assembly: show all missing deps
  CHANGELOG.md
  subpackages/lib/source/odood/lib/assembly/assembly.d
Due: none

[FIX] Correctly handle websocket location in nginx config
  subpackages/lib/data/templates/deploy/nginx.conf.tmpl
Due: none

Added ability to collect test stats
  subpackages/cli/source/odood/cli/commands/test.d
  subpackages/lib/source/odood/lib/odoo/test.d
Due: Odood CLI

Added CI images generation
  .github/workflows/publish-dockerimage.yml
  docker/Dockerfile
  docs/odood/src/development-workflow.md
Due: none

[FIX] assembly upgrade sources: add spec to index before commit
  subpackages/cli/source/odood/cli/commands/assembly.d
Due: Odood CLI

[REF] Set uid=1000 for odoo in docker containers
  CHANGELOG.md
  docker/Dockerfile
  subpackages/cli/source/odood/cli/commands/deploy.d
  subpackages/lib/source/odood/lib/deploy/config.d
  subpackages/lib/source/odood/lib/deploy/odoo.d
  subpackages/lib/source/odood/lib/deploy/utils.d
Due: Odood CLI

Make docker UID/GID configurable via docker's ARG
  CHANGELOG.md
  docker/Dockerfile
Due: none

Added basic implemnetation of `ensure-changelog` command for repo
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/repository.d
  subpackages/git/source/odood/git/repository.d
  subpackages/lib/source/odood/lib/addons/repository.d
  subpackages/utils/source/odood/utils/addons/addon.d
  subpackages/utils/source/odood/utils/addons/addon_changelog.d
Due: Odood CLI

[FIX][DOCKER] Choos 999 predictable uid/gid for user odoo
  CHANGELOG.md
  docker/Dockerfile
Due: none

[FIX] Do not fail when new addon added to repo
  CHANGELOG.md
  subpackages/lib/source/odood/lib/odoo/test.d
Due: none

Improved docs about per-addons changelogs
  docs/odood/src/development-workflow.md
Due: none

ensure-changelog: Show link to docs that describes how to add changelog
  subpackages/cli/source/odood/cli/commands/repository.d
Due: Odood CLI

Add timing for addons update and assembly upgrade operations
  subpackages/cli/source/odood/cli/commands/assembly.d
  subpackages/lib/source/odood/lib/addons/manager.d
Due: Odood CLI

Update docs on multi-instance setup
  docs/odood/src/SUMMARY.md
  docs/odood/src/deployment-local.md
  docs/odood/src/development-workflow.md
  docs/odood/src/multiple-instances.md
Due: none

Added ability to run scripts during tests
  docs/odood/src/development-workflow.md
  subpackages/cli/source/odood/cli/commands/script.d
  subpackages/cli/source/odood/cli/commands/test.d
  subpackages/lib/source/odood/lib/odoo/script.d
  subpackages/lib/source/odood/lib/odoo/test.d
  tests/basic.d
Due: Odood CLI

Added CLI command to add addon or source to assembly
  CHANGELOG.md
  docs/odood/src/assembly-spec.md
  docs/odood/src/assembly.md
  subpackages/cli/source/odood/cli/commands/assembly.d
  subpackages/lib/source/odood/lib/assembly/spec.d
Due: Odood CLI

[FIX] assembly addon add: if addon is already present do not fail
  CHANGELOG.md
  docs/odood/src/assembly.md
  subpackages/cli/source/odood/cli/commands/assembly.d
Due: Odood CLI

Added docs on scripting. Also, added tests for odood scripts
  docs/odood/src/SUMMARY.md
  docs/odood/src/custom-scripts.md
  docs/odood/src/development-workflow.md
  test-data/generate_partners.py
  tests/basic.d
Due: none

Added `odood addons where` command
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/addons.d
  subpackages/lib/source/odood/lib/addons/manager.d
Due: Odood CLI

Added ability to display addons as json
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/addons.d
Due: Odood CLI

Added repository manager.
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/addons.d
  subpackages/cli/source/odood/cli/commands/info.d
  subpackages/cli/source/odood/cli/commands/repository.d
  subpackages/cli/source/odood/cli/utils.d
  subpackages/git/source/odood/git/url.d
  subpackages/lib/source/odood/lib/addons/manager.d
  subpackages/lib/source/odood/lib/addons/repository.d
  subpackages/lib/source/odood/lib/addons/repository_manager.d
  subpackages/lib/source/odood/lib/project/project.d
Due: Odood CLI

Updated pre-commit config to ignore CHANGELOG generated on releases
  subpackages/lib/data/pre-commit-odoo-helper/pre-commit-config.yaml
  subpackages/lib/data/pre-commit/pre-commit-config.yaml
Due: none

[REF] Prepare for project split
  .gitignore
  subpackages/cli/source/odood/cli/commands/deploy.d
  subpackages/cli/source/odood/cli/commands/init.d
  subpackages/lib/source/odood/lib/addons/manager.d
  subpackages/lib/source/odood/lib/deploy/config.d
  subpackages/lib/source/odood/lib/odoo/config.d
  subpackages/lib/source/odood/lib/odoo/db_manager.d
  subpackages/lib/source/odood/lib/odoo/db_utils.d
  subpackages/lib/source/odood/lib/project/info.d
  subpackages/lib/source/odood/lib/project/project.d
  subpackages/lib/source/odood/lib/python/venv.d
  tests/basic.d
Due: Odood CLI
