Repository katyukha/Odood: changes, and which Codecov flags are due for each by the changed paths.
All: Odood, Odood CLI, Odood Exception, Odood Git, Odood Lib, Odood Tiny Python wrapper, Odood Utils

[FIX] Reatrict db population to Odoo 14-17
  CHANGELOG.md
  subpackages/lib/source/odood/lib/odoo/db_manager.d
Due: none

Set minimal setuptools version for Odoo 19 to 76
  subpackages/lib/source/odood/lib/install/python.d
Due: none

[CI][FIX] Disable tests for MacOS 13, because it is not supported by github
  .github/workflows/tests-macos.yml
Due: none

[FIX] Install pre-commit via command `venv install-dev-tools`
  subpackages/cli/source/odood/cli/commands/venv.d
Due: Odood CLI

Added basic implementation of changelog generation for repositories.
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/assembly.d
  subpackages/git/source/odood/git/repository.d
  subpackages/lib/data/templates/assembly/changelog.md.tmpl
  subpackages/lib/source/odood/lib/addons/repository.d
  subpackages/lib/source/odood/lib/assembly/changes.d
  subpackages/lib/source/odood/lib/assembly/package.d
  subpackages/lib/source/odood/lib/deploy/odoo.d
  subpackages/utils/source/odood/utils/odoo/std_version.d
Due: Odood CLI

Minor update of docs
  docs/odood/src/production-deployment.md
Due: none

Bump version of dark temple
  dub.selections.json
  subpackages/cli/dub.selections.json
  subpackages/lib/dub.selections.json
Due: Odood CLI

Added support for generation of Version file
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/assembly.d
  subpackages/lib/data/templates/assembly/changelog.md.tmpl
  subpackages/lib/source/odood/lib/assembly/changes.d
  subpackages/lib/source/odood/lib/assembly/package.d
  subpackages/utils/source/odood/utils/odoo/std_version.d
Due: Odood CLI

[FIX][odood test] Fixed bug with false positives on new addons during migration tests
  CHANGELOG.md
  subpackages/lib/source/odood/lib/odoo/test.d
Due: none

Updated docs generation: added automatic generation of command reference
  .github/workflows/update-docs.yml
  docs/odood/src/SUMMARY.md
  dub.sdl
  source/odood/app.d
Due: Odood

Changelog: use origin/serie instead of `serie` as base branch
  subpackages/lib/source/odood/lib/assembly/package.d
Due: none

Fetch origin/18.0 before running sync
  subpackages/git/source/odood/git/repository.d
  subpackages/lib/source/odood/lib/assembly/package.d
Due: none

[FIX] On assembly commit handle staged changes
  subpackages/cli/source/odood/cli/commands/assembly.d
Due: Odood CLI

[FIX] Added placehodler for docs/command reference
  docs/odood/src/odood-docs-command-ref.md
Due: none

Better formatting for changelog in assembly
  subpackages/lib/data/templates/assembly/changelog.md.tmpl
Due: none

[DOCS] Added sample CI configuration for branches
  docs/odood/src/assembly.md
Due: none

[Docs] Update odood version for production deployment
  docs/odood/src/production-deployment.md
Due: none

Test build actions
  .github/workflows/publish-dockerimage.yml
Due: none

test with 18.0 odoo
  .github/workflows/publish-dockerimage.yml
Due: none

Create multiplatform image and change ci
  .github/workflows/publish-dockerimage.yml
  docker/Dockerfile
Due: none

Simplify docker build process (avoid copying all arg to single image)
  .github/workflows/publish-dockerimage.yml
  build_docker.bash
  docker/Dockerfile
Due: none

Update CHANGELOG
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/database.d
  subpackages/cli/source/odood/cli/commands/deploy.d
  subpackages/lib/source/odood/lib/install/odoo.d
Due: Odood CLI

Bump suggested python versions
  subpackages/lib/source/odood/lib/odoo/python.d
Due: none

Handle `requirements.txt` file in assembly root
  CHANGELOG.md
  subpackages/lib/source/odood/lib/assembly/package.d
Due: none

Install dependencies for assembly-level requirements.txt first
  CHANGELOG.md
  subpackages/lib/source/odood/lib/assembly/package.d
Due: none

Bump peque version
  dub.selections.json
  subpackages/cli/dub.selections.json
  subpackages/lib/dub.selections.json
Due: Odood CLI

Update .gitignore
  .gitignore
Due: none

Added minimal tests for assembly changelog
  tests/basic.d
Due: none

Added info about changelogs in assemblies
  docs/odood/src/assembly.md
Due: none

Minor fixes and improvements
  docs/odood/src/assembly.md
  docs/odood/src/production-deployment.md
Due: none

Fix tests
  tests/basic.d
Due: none

Added `--start` option to `odood assembly upgrade` command
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/assembly.d
Due: Odood CLI

Update tests for assemblies
  subpackages/lib/source/odood/lib/assembly/package.d
  tests/basic.d
Due: none

Added option `odood assembly --assembly-path`
  CHANGELOG.md
  subpackages/cli/source/odood/cli/commands/assembly.d
  subpackages/lib/source/odood/lib/project/project.d
Due: Odood CLI

Update docs
  docs/odood/src/assembly.md
Due: none

[FIX][CI] Bump dmd version for tests to 2.111
  .github/workflows/tests.yml
  CHANGELOG.md
Due: none

[REF] remove dependency on project from AddonRepository
  subpackages/cli/source/odood/cli/commands/precommit.d
  subpackages/cli/source/odood/cli/commands/repository.d
  subpackages/lib/source/odood/lib/addons/manager.d
  subpackages/lib/source/odood/lib/addons/repository.d
  subpackages/lib/source/odood/lib/assembly/package.d
  subpackages/lib/source/odood/lib/devtools/migrate.d
  subpackages/lib/source/odood/lib/devtools/precommit.d
Due: Odood CLI

[REF] Move assembly code from package to odood.lib.assembly.assembly module
  subpackages/lib/source/odood/lib/assembly/assembly.d
  subpackages/lib/source/odood/lib/assembly/package.d
Due: none

Added support for `known-addons` option in assembly spec
  CHANGELOG.md
  subpackages/lib/source/odood/lib/assembly/assembly.d
  subpackages/lib/source/odood/lib/assembly/spec.d
Due: none

Path conditions:
  Odood: any of: source/odood/**
  Odood CLI: any of: subpackages/cli/**
  Odood Exception: any of: subpakcages/exception/**
  Odood Git: any of: subpakcages/git/**
  Odood Lib: any of: subpakcages/lib/**
  Odood Tiny Python wrapper: any of: subpakcages/tipy/**
  Odood Utils: any of: subpakcages/utils/**
